html h2 {
  font-size: 50px;
}

body h2 {
  font-size:50px;
}

body {
  width: 50vw;
  border: 1px solid black;
}

div {
  background-color: pink;
  width: 30vw;
  /* taking from body = vw */
}

span {
  font-size: 2em;
  /* 1 em = 16 px */
  /* em = taking from parent */
}

p {font-size:
32px;}
