body {
  background-color: #6092A6;
}

a:link {
  color: #6092A6;
}

/* visited link */
a:visited {
  color: #8C8C8C;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
}

p {
  font-family: 'Adamina', serif;
}

li {
  font-family: 'Adamina', serif;
  color: #184059;
}

#title {
  text-align: center;
  font-size: 40px;
  color: #184059;
}

#me {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,.4);
}

#pronouns {
  text-align: center;
  color: #184059;
}

#table1 {
  vertical-align: top;
  border-collapse: separate;
  border-spacing: 80px;
}

#column1 {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #F2CBBD;
  border-radius: 7px;
  color: #184059;
  box-shadow: 0 0 5px rgba(0,0,0,.4);
  width: 50%;
  font-size: 15px;
}

#column1 p {
  color: #733934;
}

#column2 {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #F2CBBD;
  border-radius: 7px;
  color: #184059;
  box-shadow: 0 0 5px rgba(0,0,0,.4);
  width: 50%;
  font-size: 15px;
}

#column2 li {
  color: #733934;
}

#descriptionhead {
  text-align: center;
}

#goalshead {
  text-align: center;
}


#portfolio {
  width: 100%;
  text-align: center;
}

#portfolio2 {
  display: inline-block;
  padding-left: 35vw;
  padding-right: 35vw;
  background-color: #F2CBBD;
  border-radius:7px;
  color: #184059;
  box-shadow: 0 0 5px rgba(0,0,0,.4);
}

#portfolioitems {
  font-size: 20px;
}

#portfoliohead {
  font-size: 25px;
}

hr.rounded {
  margin-top: 70px;
  border-top: 2px solid #bbb;
  border-radius: 5px;
}

#contact {
  margin-left: 25vw;
  margin-right: 25vw;
  margin-top: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #F2CBBD;
  border-radius:7px;
  color: #733934;
  box-shadow: 0 0 5px rgba(0,0,0,.4);
}

#contact h1 {
  color: #184059;
}


#contactMe {
  text-align: center;
}

#emailBox  {
  border: 0px;
  box-shadow: inset 0 0 5px #000000;
  border-radius: 5px;
  height:4vh;
  width: 10vw;
}

button {
  background-color: #733934;
  font-family: 'Alegreya Sans', sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  color: white;
  font-size: 30px;
  padding: 7px 20px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  left: 18vw;
  border: 0px;
  border-radius: 10px;
  text-align: center;
  /* Top and bottom is first, left and right is second in padding*/
}

button:hover {
  background-color: #BF785E;
  font-family: 'Alegreya Sans', sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  color: white;
  font-size: 30px;
  padding: 7px 20px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  left: 18vw;
  border: 0px;
  border-radius: 10px;
  text-align: center;
  /* Top and bottom is first, left and right is second in padding*/
}

label {
  font-family: 'Alegreya';
  font-size: 20px;
  margin-top: 20px;
}

textarea {
  width: 42vw;
  height: 25vh;
  border: 0px;
  box-shadow: inset 0 0 5px #000000;
  border-radius: 5px;
}
