body {
  background-color: #0D0D0D;
}


h1 {
  font-family: 'Creepster', cursive;
  color: #A63F03;
  text-align: center;
  font-size: 80px;
  margin-bottom: 0;
}

#door1Title, #door2Title {
  font-family: 'Creepster', cursive;
  color: #A63F03;
  font-size: 50px;
  text-align: center;
  margin-bottom: 0;
}

#door3Title {
  font-family: 'Creepster', cursive;
  color: #A63F03;
  font-size: 50px;
  margin-left: 15vw;
  margin-bottom: 0;
}

p {
  font-family: 'Modern Antiqua', cursive;
  color: #F2A74B;
  text-align: center;
  font-size: 30px;
}

img {
  border-radius: 6px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.col {
  flex: 50%;
  padding: 20px;
}

.col #door1{
  width: 20%;
}

.row2 {
  display: flex;
  padding-left: 24vw;
}

.row2 img {
  width: 150%;
}

.row3 {
  display: flex;
  padding-left: 24vw;
}

.row3 img {
  width: 70%;
}

.candy {
  display: flex;
  padding-left: 24vw;
  width: 70%;
}
